

  <mat-card *ngIf="user" class="profile-container">
    <div class="profile-header">
      
      <img [src]="'https://i.pravatar.cc/150?u=' + user.username"
           alt="Avatar di {{ user.username }}"
           class="avatar">
      <h2>{{ user.username }}</h2>
      
    </div>
  
    <div class="profile-details">
      <p><mat-icon>email</mat-icon> {{ user.email }}</p>
      
    </div>
  
    <button mat-raised-button color="primary" (click)="goToDash()">
      Users Dashboard
    </button>
    <button mat-raised-button color="warn" (click)="logout()">
      Logout
    </button>
  </mat-card>
  