<div class="container-grid">
    <nav>
        <div class="logo">
            <a class="logo" routerLink="/">U-T</a>
        </div>
        <button class="menu-icon" (click)="toggleMenu()">
            ☰
        </button>
        <div class="nav-links" [class.active]="menuActive">
            <a (click)="closeMenu()" routerLink="/">Home</a>
            <a (click)="closeMenu()" routerLink="/profile">Profile</a>
            <a (click)="closeMenu()"  target="_blank" href="https://github.com/Deakon89/Urban-Tribe.git">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                    <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H160v400Zm140-40-56-56 103-104-104-104 57-56 160 160-160 160Zm180 0v-80h240v80H480Z"/></svg></a>
            
        </div>       
    </nav>
    <main>    
        <ng-content class="content" *ngIf="!hasChildRoute(routerOutlet)">
            <h1>WARE PULSE</h1>
            <p>gestione magazzino</p>
            <div class="buttons">
                <a routerLink="/login" routerLinkActive="active" class="btn btn-primary">Login</a>
                <a routerLink="/about" class="btn btn-secondary">About us</a>
            </div>
        </ng-content>
        <div [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #routerOutlet="outlet" #outlet="outlet"></router-outlet>
        </div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave-2"></div>
        <div class="wave-3"></div>
    </main>

    <footer>
        <p>Copyright &copy; 2025 U-T</p>
    </footer>
  </div>