<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        Username è obbligatorio
      </mat-error>
      <mat-error *ngIf="loginForm.get('username')?.hasError('username')">
        Inserisci un Username valido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password è obbligatoria
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')">
        La password deve contenere almeno {{ loginForm.get('password') }} caratteri
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
