
    <mat-sidenav-container class="sidebar-container">  
      <mat-sidenav mode="side" opened class="sidebar">
        <mat-nav-list role="list">
          <a mat-list-item role="listitem" routerLink="products">Product</a>
          <a mat-list-item role="listitem" routerLink="clients">Clients</a>
          <a mat-list-item role="listitem" routerLink="orders">Orders</a>
          <a mat-list-item role="listitem" routerLink="complited-orders">Complited Orders</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="content">
       
       <router-outlet></router-outlet>
        
      </mat-sidenav-content>
    </mat-sidenav-container>

