
    <mat-sidenav-container class="sidebar-container">
      <mat-sidenav mode="side" opened class="sidebar">
        <mat-toolbar color="primary" class="sidebar-toolbar">
          <!-- Navbar top della sidebar -->
          <span>Menu</span>
          <!-- In futuro aggiungere icone o bottoni qui -->
        </mat-toolbar>
        <mat-nav-list>
          <!-- Qui verranno inseriti i comandi/menu items -->
          <ng-content></ng-content>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        <!-- Contenuto principale dell'app -->
        <ng-content select="[main]"></ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
  
