<div>
  <mat-toolbar color="primary" class="notion-navbar">
        <span class="logo">WarePulse Dashboard</span>

        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" 
                  #menuTrigger="matMenuTrigger"
                  class="menu-button">
                <mat-icon>menu</mat-icon>
        </button>

        <div class="nav-links">
          <a mat-button routerLink="products" routerLinkActive="active">Products</a>
          <a mat-button routerLink="clients" routerLinkActive="active">Clients</a>
          <a mat-button routerLink="orders" routerLinkActive="active">Orders</a>
          <a mat-button routerLink="complited-orders" routerLinkActive="active">Completed Orders</a>
        </div>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateAndClose('products')" routerLink="products">Products</button>
          <button mat-menu-item (click)="navigateAndClose('clients')" routerLink="clients">Clients</button>
          <button mat-menu-item (click)="navigateAndClose('orders')" routerLink="orders">Orders</button>
          <button mat-menu-item (click)="navigateAndClose('complited-orders')" routerLink="complited-orders">Completed Orders</button>
        </mat-menu>
          
      </mat-toolbar>
    <mat-sidenav-container class="sidebar-container">
      <mat-sidenav-content class="content"> 
       <router-outlet></router-outlet>  
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

