<div class="about-container">
    <mat-card class="about-card">
      <h2>About me</h2>
      <p> 
        Hi, I’m Francesco Cocchi — a passionate Front-end Developer and freelance professional who also enjoys diving into the back-end world. I’m always exploring the latest technologies to build modern, responsive, and efficient web applications that make a difference. Let's bring ideas to life with clean code and smart design.
      </p>
      <div class="team">
        <div class="member" *ngFor="let member of teamMembers">
          <img [src]="member.avatar" alt="{{member.name}}">
          <h4>{{ member.name }}</h4>
          <p>{{ member.role }}</p>
        </div>
      </div>
    </mat-card>
  </div>