/* .orders-card { 
 max-height: fit-content;
 } */
    /* .order-details {
      display: flex;
      flex-direction: column;
      max-height: fit-content;
      flex: 1;
      gap: 4px;
    }
    .complete-btn {
      margin-left: auto;
    }

    mat-card-content {
      max-height: fit-content;
    } */